<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <li><a href="{% url 'home' %}">Home</a></li>
        </nav>
    </header>
    <main>
        <h1>Expense Category</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for item in category_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.receipts.all.count }}</td>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
